
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }
  
  .form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signup .checkbox {
    font-weight: 400;
  }
  
  .form-signup .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signup input[type="password"] {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signup .btn{
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
  