<div class="card">
    <div class="card-header">Renk Düzenle</div>
    <div class="card-body">
      <form [formGroup]="colorEditForm">
  
        <div class="mb-3">
          <label for="colorName" class="form-label"> Renk adı</label>
          <input
            type="text"
            class="form-control"
            formControlName="colorName"
            id="colorName"
            placeholder="renk adı"
            [ngClass]="{
              'is-invalid': form.colorName.touched || form.colorName.dirty
            }"
          />
          <div *ngIf="form.colorName.errors" class="invalid-feedback">
            <div *ngIf="form.colorName.errors.required">
                Renk Adı Zorunlu !
            </div>
          </div>
        </div>
  
      
  
        
        
      </form>
    </div>
    <div class="card-footer text-muted">
      <button type="type" (click)="editColor()" class="btn btn-warning">Güncelle</button>
    </div>
  </div>
  
  
