<div *ngIf="dataLoaded == false" class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded == false" class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="row ml-0 mr-0">
    <div *ngFor="let cardetail of cardetails" class="col-md-4 my-4" class="card" style="width: 20rem;">
        <div class="card" style="width: 100%;">
            <img src="{{ path }}{{ getCarImage(cardetail) }}" class="card-img-top" alt="..."
                style="width: 18rem;height: 16rem;" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Marka:</b><span style="float: right;"> {{ cardetail.brandName }}</span>
                </li>
                <li class="list-group-item">
                    <b>Fiyat:</b><span style="float: right;"> {{ cardetail.dailyPrice }}</span>
                </li>
                <li class="list-group-item">
                    <b>Fiyat:</b><span style="float: right;"> {{ cardetail.description }}</span> 
                </li>
                <li class="list-group-item">
                    <button routerLink="/cars/car-details/{{ cardetail.carId }}" type="button">
                        Detay
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>