<div *ngIf="dataLoaded == false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<app-filter></app-filter>
<div class="row ml-0 mr-0">
  <div
    *ngFor="let cardetail of cardetails"
    class="col-md-4 my-4"
    class="card"
    style="width: 20rem"
  >
    <div class="card">
      <img
        src="{{ path }}{{ getCarImage(cardetail) }}"
        class="card-img-top"
        alt="..."
        style="width: 100%; height: 16rem"
      />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>Marka:</b
          ><span style="float: right"> {{ cardetail.brandName }}</span>
        </li>
        <li class="list-group-item">
          <b>Adı:</b><span style="float: right"> {{ cardetail.carName }}</span>
        </li>
        <li class="list-group-item">
          <b>Fiyat:</b
          ><span style="float: right"> {{ cardetail.dailyPrice }}</span>
        </li>
        <li class="list-group-item">
          <b>Açıklama:</b
          ><span style="float: right"> {{ cardetail.description }}</span>
        </li>
        <li class="list-group-item">
          <button
            style="background-color: #ffc107"
            routerLink="/cars/car-details/{{ cardetail.carId }}"
            type="button"
          >
             Detay
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
